@layer utilities {
	.with-scheme-dark {
		background-color: oklch(92% 6% var(--BrownHue));
	}

	.with-scheme-secondary {
		--Color: oklch(98% 6% var(--BrownHue));
		background-color: oklch(55% 39% var(--ThemeHue));

		&.and-dark {
			background-color: oklch(45% 39% var(--ThemeHue));
		}

		& p a {
			color: oklch(98% 30% var(--RedHue));
			&:not(:hover) {
				text-decoration: none;
			}
		}

		& p em {
			color: oklch(100% 28% var(--CyanHue));
		}
	}

	.with-scheme-lime {
		--Color: oklch(60% 36% var(--LimeHue));
		background-color: oklch(98% 30% var(--LimeHue));
	}

	.with-scheme-red {
		--Color: oklch(60% 36% var(--RedHue));
		background-color: oklch(98% 30% var(--RedHue));
	}
}
