.with-line-and-icons {
	& :is(h1, h2, h3)>i {
		font-size: 1.5em;
	}

	& h2:has(i) {
		position: relative;
	}

	& h2>i {
		vertical-align: middle;
		margin-right: 0.25ch;
	}

	& main>section {
		&>h3 {
			display: flex;
			align-items: baseline;
			gap: var(--SpacingRow);
			margin-block: var(--SpacingBroad);

			&::after {
				content: "";
				border-top: 2px solid oklch(92% 6% var(--BrownHue));
				flex-grow: 1;
			}
		}

		&:where(:not([class]))>h3::before {
			content: "";
			border-top: 2px solid oklch(92% 6% var(--BrownHue));
			width: 35px;
			margin-left: -60px;
		}
	}
}

@media (max-width: 1480px) {
	.with-line-and-icons {
		& :has(>:is(h1, h2, h3)>i) {
			display: flex;
			flex-direction: column;

		}

		& :is(h1, h2, h3){
			&:has(>i) {
				display: contents;
			}
			&>i {
				margin-bottom: var(--SpacingThinner);
				order: -1;
			}
		}
	}
}

@media (min-width: 1480px) {
	.with-line-and-icons {
		&>main {
			position: relative;
		}

		&>main>header {
			& h1::before {
				content: "";
				top: var(--SpacingBroadest);
				margin-top: 4rem;
				margin-left: -60px;
				bottom: 0;
				position: absolute;
				border-left: 2px solid oklch(92% 6% var(--BrownHue));
			}

			&~* {
				position: relative;
			}
		}


		& :is(h1, h2, h3) {
			&>i {
				height: 1ch;
				width: 1ch;
				margin-left: calc(-60px - 0.75ch - 1px);
				position: relative;
				padding: 0.25ch;
				margin-right: calc(60px + 0.5ch - .75em - 2px);
				aspect-ratio: 1;
				border-radius: 50%;
				border: 2px solid transparent;
				background-color: oklch(98% 6% var(--BrownHue));
				line-height: 0;
			}

			&:is(h1)>i {
				border-color: oklch(88% 6% var(--BrownHue));
				background-color: oklch(55% 39% var(--ThemeHue));
			}

		}

	}
}
