@view-transition {
	navigation: auto;
}


html {
	font-family: "PP Air";
	/* font-family: "PP Neue Montreal"; */
	font-size: clamp(16px, 4vw, 24px);
	background-color: oklch(99% 5% 195deg);
	font-weight: 400;
	overscroll-behavior: none;
	color: oklch(0.35 0.03 263.66);
	scroll-behavior: smooth;
	/* filter: hue-rotate(-280deg); */


	--security-margin: round(up, calc(5px + 2vmin + 0.5vmax), 5px);
}

body {
	timeline-scope: --slogan;
	padding: var(--security-margin);
	padding-bottom: 0;
	max-width: 2000px;
	margin-inline: auto;
	container-type: inline-size;

	&, &>* {
		background-color: inherit;
	}


	&>* {
		position: relative;
	}
	/* animation: page-shock 120ms 6s ease-out; */


}

[id=nav] {
	position: fixed;
	right: 1ch;
	z-index: 1;
	top: 50%;
	margin-top: -1ch;
	border-radius: 50%;

	a {
		display: block;
		position: relative;
		text-decoration: none;
		font-family: "PP Pangaia";
		color: inherit;
		&>span {
			justify-content: center;
			border-radius: 50%;
			aspect-ratio: 1;
			width: 2ch;
			height: 2ch;
			border: 3px solid currentColor;
			font-size: 2em;
			font-weight: 500;
			line-height: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&>small {
			position: absolute;
			min-width: max-content;
			font-size: 0.75em;
			top: 50%;
			margin-top: -0.5lh;
			right: 0;
		}
		&:not(:hover)>small,
		&:hover>span {
			opacity: 0;
		}
	}
}

[id=footer] {
	display: flex;
	align-items: baseline;
	gap: 20px;
	padding-block: 20px;
	border-top: 3px solid currentColor;
	margin-top: 160px;

	h2 {
		font-size: 1.1em;
	}
}

hr {
	background: none;
	border-top: 3px solid currentColor;
	color: inherit;

	margin-top: 80px;
	&+div {

		margin-top: 80px;
	}
}

.as-tag {

}

h1 {
	font-size: 21px;
	font-weight: 300;

	&::before {
		font-size: 0.9em;
		content: "i";
		font-weight: 600;
		display: inline-flex;
		border-radius: 50%;
		background-color: oklch(0.55 0.03 263.66);
		color: white;
		aspect-ratio: 1;
		line-height: 1;

		margin-right: 1ch;
		width: 2.1ch;
		justify-content: center;
		align-items: center;
	}
}

.tagline {
	font-family: "PP Pangaia";
	font-size: calc(28.6cqw - var(--security-margin));
	line-height: 1;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
	-webkit-text-stroke: 12px oklch(99% 5% 195deg);
	paint-order: stroke;
	text-align: center;
	animation: shift-down 1ms linear both;
	animation-timeline: view(60% 0%);
	margin-bottom: 120px;

	/* transform-style: preserve-3d; */
	/* will-change: transform, opacity; */
	/* animation: slogan-z-settle 90ms cubic-bezier(.25,.95,.3,1) 2.5s both; */
	/* backface-visibility: hidden; */

}

@keyframes shift-down {
	0% {
		translate: 0 calc(-0.3lh);
		/* -webkit-text-stroke: 6px oklch(0.35 0.03 263.66); */
		/* color: oklch(99% 5% 195deg); */
	}

	100% {
		translate: 0;
		/* -webkit-text-stroke: 6px oklch(99% 5% 195deg); */
		/* color: oklch(0.35 0.03 263.66); */
	}
}

ul {
	font-size: 0.75em;
}


h2,h3,h4 {
	font-family: "PP Pangaia";
}

h3 {
	display: flex;
	align-items: baseline;

	&::after {
		content: "";
		flex-basis: 0px;
		flex-grow: 1;
		border-top: 3px solid currentColor;
		margin-left: 15px;
	}
}

h2 {
	font-size: calc(20px + 4cqw);
}

main>h2+div {
	margin-top: 80px;
}

h3+* {
	margin-top: 20px;
}

*+p {
	/* margin-top: 0.5lh; */
}

main h2+p {
	font-size: calc(20px + 3cqw);
	max-width: 30ch;
	font-family: "PP Pangaia";
}

/* p:has(small>q) { */
/* } */

/* h1+p { */
/* 	font-family: "PP Pangaia"; */
/* 	font-weight: 200; */
/* 	font-size: calc(18px + 4vw); */
/* 	text-align: left; */
/* 	line-height: 1.1; */
/* } */

/* main>div { */
/* 	display: flex; */
/* 	flex-wrap: wrap; */
/* 	align-items: baseline; */
/* 	gap: 40px; */

/* 	&>* { */
/* 		flex-basis: 0; */
/* 		flex-grow: 1; */
/* 		min-width: 40ch; */
/* 	} */


/* 	&>:first-child:nth-last-child(2) { */
/* 		flex-grow: 2; */
/* 		&>div { */
/* 			column-width: 40ch; */
/* 			gap: 40px; */
/* 		} */
/* 	} */

/* 	/1* display: grid; *1/ */
/* 	/1* grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr)); *1/ */
/* 	/1* gap: 40px; *1/ */

/* 	&+* { */
/* 		margin-top: 100px; */
/* 	} */
/* } */

[id=main] { 
	border-top: 3px solid  oklch(0.35 0.03 263.66);
	margin-top: -3px;
	/* padding-top: 140px; */
	background-color:oklch(99% 5% 195deg);
	position: relative;
	view-timeline-name: --slogan;
	view-timeline-inset: 40% 20%;
}



@keyframes shift-up {
	0% {
		translate: 0;
	}

	100% {
		translate: 0 30vh;
		opacity: 0;
	}
}

@keyframes keep-up {
	0% {
		translate: 0;
	}

	100% {
		translate: 0 -10cqh;
	}
}

[id=header] {
	border: 3px solid  oklch(0.35 0.03 263.66);
	background-color:oklch(99% 5% 195deg);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	min-height: calc(100dvh - var(--security-margin) * 2);
	top: var(--security-margin);
	position: sticky;
	flex-direction: column;
	gap: 20px;
	padding: 20px;

	overflow: hidden;



	@media 
	(aspect-ratio: 1),
	(max-width: 140ch),
	(orientation: portrait) {

		blockquote {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

		}

		img {
			order: 1;
			flex-grow: 1;
			width: 100%;
		}
	}


	@media 
	(aspect-ratio >= 1) and 
	(min-width: 140ch) and 
	(orientation: landscape) {

		blockquote {
			align-self: end;
			margin-left: calc(-760px + 20vw + var(--custom-adjust, 0px));
			margin-right: 6vw;

			&:has([src*="mbc"]) {

				shape-outside: url("../../img/mbc.webp");
			}
			&:has([src*="eric"]) {
				--custom-adjust: 10vw;
				shape-outside: url("../../img/eric.webp");
			}
		}
		/* align-items: flex-end; */
		img {
			float: left;
			height: 80vh;
			object-position: top right;
			shape-margin: 80px;
			/* margin-left: 2vw; */
			transform-origin: 50% 70%;
			will-change: transform, filter;

			animation: sketch-nod 2s ease-in-out infinite;
			animation: sketch-nod 3.4s cubic-bezier(.45,.05,.55,.95) 1;

			animation:
			sketch-enter 700ms cubic-bezier(.18,.82,.22,1) both,
			sketch-nod   1.5s cubic-bezier(.45,.05,.55,.95) 1s 1.5 forwards,
			keep-up     1ms ease-out both;

			animation-timeline: auto, auto, --slogan;
			shape-outside: inherit;

			/* animation: sketch-talk 4200ms steps(1, end) infinite; */

		}

		p {
			margin-top: 100px;
		}

	}
}

blockquote {
	/* flex-basis: 100%; */
	/* flex-grow: 1; */
	/* background-color: inherit; */
	margin-bottom: -60px;




	img {
		max-width: 100%;
		animation: shift-up 1ms cubic-bezier(0.7, 0, 0.84, 0) both;
		animation-timeline: --slogan;

		object-fit: cover;
		z-index: 1;
	}



	& p {
		font-family: "PP Pangaia";
		font-weight: 500;
		font-size: calc(16px + 0.9vmax + 2vh + 0.25vw);
		text-wrap: pretty;
		margin: 0;
		animation: shift-up ease-out 1ms both;
		min-width: initial;
		animation-timeline: --slogan;


		mark {

			background: linear-gradient(90deg, currentColor, currentColor) 0/ 0px no-repeat transparent;
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: reveal 3s both 0.5s;
			animation-timing-function: steps(107);
		}
	}

	cite {
		margin:20px;
		display: block;
		font-size: 0.75em;
	}

}

h1+p {
	margin-top: 30px;
}

p q {
	font-weight: 500;
}

[aria-hidden] {
	/* opacity: 0; */
}

@keyframes reveal{
	to{
		background-size: 100%;
	}
}
@keyframes page-shock {
	0%   { transform: scale(1); }
	40%  { transform: scale(0.992); }
	100% { transform: scale(1); }
}

@keyframes slogan-z-settle {
	0% {
		transform: perspective(900px) translateZ(40px) scale(1.15);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	80% {
		transform: perspective(900px) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: perspective(900px) translateZ(0) scale(1);
		opacity: 1;
	}
}

@keyframes slogan-z-pop {
	0% {
		transform: perspective(900px) translateZ(-1000px) scale(0.9);
		opacity: 0;
	}
	70% {
		transform: perspective(900px) translateZ(60px) scale(1.04);
		opacity: 1;
	}
	100% {
		transform: perspective(900px) translateZ(0) scale(1);
		opacity: 1;
	}
}

.as-slogan-pop {
	transform-style: preserve-3d;
	will-change: transform, opacity;
	animation: slogan-z-pop 360ms cubic-bezier(.25,.95,.3,1) both;
	backface-visibility: hidden;
}

@media (prefers-reduced-motion: reduce) {
	.as-slogan-pop {
		animation: none;
	}
}

@keyframes sketch-enter {
	0%   { transform: translateX(-60%) translateY(0%)    rotate(-5deg); }
	14%  { transform: translateX(-52%) translateY(-6%)  rotate(4deg); }
	28%  { transform: translateX(-44%) translateY(4%)    rotate(-3deg); }
	42%  { transform: translateX(-36%) translateY(-6%)  rotate(2.5deg); }
	56%  { transform: translateX(-26%) translateY(6%)   rotate(-2deg); }
	70%  { transform: translateX(-16%) translateY(-4%)   rotate(1.5deg); }
	84%  { transform: translateX(-8%)  translateY(6%)    rotate(-1deg); }
	94%  { transform: translateX(-3%)  translateY(-4%)   rotate(0.6deg); }
	100% { transform: translateX(0%)   translateY(0%)    rotate(0deg); }
}

@keyframes sketch-nod {
	0%   { transform: rotate(0deg); }
	12%  { transform: rotate(-0.9deg); }
	28%  { transform: rotate(1.6deg); }
	41%  { transform: rotate(0.4deg); }
	57%  { transform: rotate(-1.3deg); }
	73%  { transform: rotate(1.1deg); }
	86%  { transform: rotate(-0.6deg); }
	100% { transform: rotate(0deg); }
}

@keyframes sketch-talk {
	0% {
		transform: translate(0, 0) rotate(0deg) scaleY(1);
	}
	8% {
		transform: translate(0.6px, -0.4px) rotate(-0.3deg) scaleY(1.03);
	}
	16% {
		transform: translate(-0.7px, 0.5px) rotate(0.4deg) scaleY(0.98);
	}
	24% {
		transform: translate(0.5px, 0.3px) rotate(-0.2deg) scaleY(1.05);
	}
	33% {
		transform: translate(-0.4px, -0.6px) rotate(0.3deg) scaleY(0.97);
	}
	44% {
		transform: translate(0.8px, 0.2px) rotate(-0.4deg) scaleY(1.04);
	}
	55% {
		transform: translate(-0.6px, 0.4px) rotate(0.2deg) scaleY(0.99);
	}
	67% {
		transform: translate(0.4px, -0.5px) rotate(0.35deg) scaleY(1.06);
	}
	80% {
		transform: translate(-0.5px, 0.2px) rotate(-0.25deg) scaleY(0.98);
	}
	92% {
		transform: translate(0.3px, 0.4px) rotate(0.15deg) scaleY(1.02);
	}
	100% {
		transform: translate(0, 0) rotate(0deg) scaleY(1);
	}
}

